#header{
  padding-top: 5%;
}
.toggle{
  color: #fff;
}
.head-image{
  background-image: url("./assets/compass.png");
}
.nav-color{
  background-color: #000116
}
nav a,
li a{
  color: #fff;
  
}

nav a:hover{
  color: #fff;
}
li a:hover{
  color: #000116;
  background: #fff;
}
nav li{
  float: right
}
.store{
  width: 150px;
  height: 40px;
  margin-right: 1%;
  transform: scale(1.03);
  transition: transform 0.5s;
}
.store:hover{
    transform: scale(1.0)
}

h1{
  font-family: Montserrat;

}

.home{
  
  padding: 10% ;
  text-align: center;
}
.image,
.youtube{
  width: 500px;
  height: 500px;
  margin:  0 auto;
}
.youtube{
  margin-top: 5%;
}
.home p{
  font-size: 18px;
}
.lost{
  font-size: 2.0rem;
  text-align: center;
}
.more{
  padding: 5%;
  word-spacing: 5px;
}


/* about */
.about-section{
  background-color: rgb(247, 247, 247);
  padding: 5% 0;
}
.about{
  padding: 10% 3%;
}
.about-h1{
  text-align: center;
}
.about h1{
  float: left;
  padding-right: 4px;
  padding-top: 5px;
}
.about p{
  font-size: 120%;
  line-height: 1.42;
}
.image-about{
  width: 1000px;
  height: 500px;

}

/* how-section */
.how-section{
  margin: 5% 0;
}
.how{
  color: #fff;
  background-color: #000116;
  padding: 5%;
}
.simple{
  font-size: 200%;
  text-align: center;
}
.how-col-1 h1{
  text-align: center;
}
.how-col-1{
  padding: 5% 0 0 8%;
}
.how-col-1 ul{
  font-size: 120%;
}
.how-col-1 ul li{
  margin-bottom: 2%;
}
.h1-works{
  text-align: center;
}

.h1-works:after{
  display: block;
  height: 4px;
  background-color: #ff6f61;
  content: " ";
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 1%;
  
}

/* mission */
.mission-section{
  text-align: center;
}

.mission-section p{
  padding-top: 1%;
  font-size: 150%;
}

/* faqs-section */
.faqs-section{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./assets/download\ \(13\).jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  padding: 7% 0;
  text-align: center
}
.faqs-section p{
  width: 60%;
  margin: 0 auto
}
/* FOOTER-SECTION */
.footer{
  background-color: #000116;
  color: #fff;
  padding: 5% 5% 0.5% 5%;
}
.footer-nav{
  list-style: none;
  float: right;
}
.footer-nav li{
  display: inline-block;
  margin-right: 10px;
}
.footer-nav li:last-child{
  margin-right: 0;
}
.footer p{
  text-align: center;
}